{
  "printWidth": 80,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}
