.chart-wrapper {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.daily-ratio-wrapper {
    background-color: #dedede;
    width: 100%;
    height: 5vh;
    margin: 10vh 0 0;
    display: flex;
    border-radius: 40px;
    text-align: center;
    span {
        display: flex;
        line-height: 40px;
        height: 100%;
        border-radius: 40px;
        box-sizing: border-box;
        color: white;
    }
}

@keyframes stack {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 75%;
        opacity: 1;
    }
}
@keyframes stack2 {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 60%;
        opacity: 1;
    }
}
@keyframes stack3 {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 25%;
        opacity: 1;
    }
}

.graph {
    width: 400px;
}

.attend {
    height: 100%;
    background-color: blue;
    animation: stack 2s 1;
}
.late {
    background-color: orange;
    animation: stack2 2s 1;
}
.absent {
    background-color: violet;
    animation: stack3 2s 1;
}

.value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.legend {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.legend li {
    padding: 0 1em;
    line-height: 1em;
}
.legend li:before {
    content: '';
    margin-right: 0.5em;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(0, -50%);
}

ul,
li {
    list-style: none;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.weekly-ratio-wrapper {
    margin: 10px;
    position: relative;
    .chart_box {
        position: relative;
        margin-bottom: 45px;
        padding-left: 20px;
        box-sizing: border-box;
        height: 200px;
    }
    .axis_y {
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 20px;
        height: 100%;
        font-size: 12px;
        color: #4a4a4a;
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 0;
            right: 0;
            width: 1px;
            background: #d3d3d3;
        }
    }
    .axis_x {
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        border-bottom: 1px solid #d3d3d3;
        .item {
            flex: 1;
            position: relative;
            .text_box {
                position: absolute;
                bottom: -43px;
                left: 50%;
                text-align: center;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                .day {
                    display: block;
                    font-size: 12px;
                    line-height: 19px;
                    color: #4a4a4a;
                    &.sat {
                        color: #3475ed;
                    }
                    &.sun {
                        color: #eb474a;
                    }
                }
                .time {
                    display: block;
                    margin-top: 3px;
                    font-size: 12px;
                    color: #999;
                }
            }
        }
        .graph {
            display: -webkit-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            margin: 0 auto;
            padding: 0;
            width: 35px;
            height: 100%;
            background: #e8e8e8;
            border-radius: 3px 3px 0 0;
            overflow: hidden;
            .time {
                display: block;
                position: relative;
                margin-bottom: -4px;
                padding-top: 4px;
                box-sizing: content-box;
                width: 100%;
                border-radius: 3px 3px 0 0;
                &.data1 {
                    background: #84b5ff;
                    z-index: 3;
                }
                &.data2 {
                    background: #ea907a;
                    z-index: 2;
                }
                &.data3 {
                    background: #fbc687;
                    z-index: 1;
                }
            }
        }
        button.graph {
            border: 0;
        }
    }
}
