.chart-wrapper {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.attend-ratio-wrapper {
    background-color: #dedede;
    width: 100%;
    height: 5vh;
    margin: 1vh 0;
    overflow: hidden;
    border-radius: 2.5vh;
}

.block {
    display: flex;
    height: 5vh;
    color: #fff;
    font-size: 0.75em;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 1;
    animation: makechart 0.5s ease;
    transform-origin: -100% 0;
    transition: 0.3s ease;
}
@keyframes makechart {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.block:nth-of-type(1),
.legend li:nth-of-type(1):before {
    background-color: #84b5ff;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
    background-color: #ea907a;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
    background-color: #fbc687;
}
.block:hover {
    opacity: 0.6;
}
.value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.legend {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.legend li {
    padding: 0 1em;
    line-height: 1em;
}
.legend li:before {
    content: '';
    margin-right: 0.5em;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(0, -50%);
}

ul,
li {
    list-style: none;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.vertical_chart_box {
    margin: 10px;
    position: relative;
    .chart_box {
        position: relative;
        margin-bottom: 45px;
        padding-left: 20px;
        box-sizing: border-box;
        height: 200px;
    }
    .axis_y {
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 20px;
        height: 100%;
        font-size: 12px;
        color: #4a4a4a;
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 0;
            right: 0;
            width: 1px;
            background: #d3d3d3;
        }
    }
    .axis_x {
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        border-bottom: 1px solid #d3d3d3;
        .item {
            flex: 1;
            position: relative;
            .text_box {
                position: absolute;
                bottom: -43px;
                left: 50%;
                text-align: center;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                .day {
                    display: block;
                    font-size: 12px;
                    line-height: 19px;
                    color: #4a4a4a;
                    &.sat {
                        color: #3475ed;
                    }
                    &.sun {
                        color: #eb474a;
                    }
                }
                .time {
                    display: block;
                    margin-top: 3px;
                    font-size: 12px;
                    color: #999;
                }
            }
        }
        .graph {
            display: -webkit-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            margin: 0 auto;
            padding: 0;
            width: 35px;
            height: 100%;
            background: #e8e8e8;
            border-radius: 3px 3px 0 0;
            overflow: hidden;
            .time {
                display: block;
                position: relative;
                margin-bottom: -4px;
                padding-top: 4px;
                box-sizing: content-box;
                width: 100%;
                border-radius: 3px 3px 0 0;
                &.data1 {
                    background: #84b5ff;
                    z-index: 3;
                }
                &.data2 {
                    background: #ea907a;
                    z-index: 2;
                }
                &.data3 {
                    background: #fbc687;
                    z-index: 1;
                }
            }
        }
        button.graph {
            border: 0;
        }
    }
}
