.title-wrapper {
    position: relative;
    left: 10vw;
    top: 40vh;
    width: 50vw;
    color: #fff;
    user-select: none;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 5em;
    text-shadow: 0.25vw 0.25vh 0.5vw rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
    .title-wrapper {
        left: 10vw;
        top: 40vh;
        width: 50vw;
        user-select: none;
        font-family: 'Fontdiner Swanky', cursive;
        font-size: 3.5em;
        text-shadow: 0.25vw 0.25vh 0.5vw rgba(0, 0, 0, 0.5);
    }
}

.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #282c37, #9baec8, #d9e1e8, #2b90d9);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.home-login-btn,
.home-join-btn {
    width: 10vw;
    height: 6vh;
    background-color: transparent;
    border: 0.25vw solid #fff;
    box-shadow: 0.25vw 0.25vh 0.5vw rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    border-radius: 1vw;
}
.home-btn:hover {
    transition: all 0.5s;
    color: #000;
    background-color: #fff;
}

.Mini {
    transition: all 1s;
    transform: translate(-20vw, -36vh) scale(0.5);
}

.Start {
    background: #9baec8;
}

.btn-wrapper {
    position: relative;
    left: 10vw;
    top: 40vh;
    display: inline-flex;
    justify-content: space-between;
    width: 25vw;
    margin-top: 5vh;
    transition: all 0.5s;
}

.btn-wrapper.Hidden {
    visibility: hidden;
    filter: blur(1vw);
}

.hamburger {
    position: absolute;
    /* visibility: hidden; */
    left: 95vw;
    top: 5vh;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 44px;
    height: 5px;
    background-color: #fff;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    transition: all 0.5s;
}

.hamburger.menuon .line:nth-child(1) {
    transform: rotate(45deg) translate(0, 1vh);
    box-shadow: none;
}
.hamburger.menuon .line:nth-child(2) {
    transform: rotate(-45deg) translate(0, -1vh);
    box-shadow: none;
}
.hamburger.menuon .line:nth-child(3) {
    border-radius: 0;
    box-shadow: 0vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
    transform: scale(21, 1) translate(-1.475vw, 1vh);
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 40vw;
    top: 5vh;
    width: 50vw;
    justify-content: space-between;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    transform: scale(1, 0) translate(0, 5vh);
}

.nav.menuon {
    transform: scale(1, 1) translate(0, 0);
    visibility: visible;
}

.nav > a {
    color: #fff;
    font-size: 1.625vw;
    text-decoration-line: none;
    text-shadow: 0.125vw 0.125vh 0.125vw rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    cursor: pointer;
}

.navbar > a:hover {
    transform: scale(1.25);
}

.modal-wrapper {
    position: absolute;
    left: 50%;
    margin-left: -125px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 250px;
    height: 100px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInDown 4s;
    p {
        width: fit-content;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    20% {
        opacity: 1;
        transform: translateZ(0);
    }
    80% {
        opacity: 1;
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 0;
        transform: translateZ(0);
    }
}

.fa-circle-check,
.fa-circle-exclamation {
    font-size: 1.7em;
    margin-top: 17px;
    margin-bottom: 15px;
}

.fa-circle-check {
    color: #2b90d9;
}

.fa-circle-exclamation {
    color: #ea907a;
}

.code-modal {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -125px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 270px;
    height: 120px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-track-input {
    border: #2b90d9 1.5px solid;
    height: 30px;
    border-radius: 5px;
    margin: 20px auto 17px;
    width: 80%;
}
.track-btn-wrapper {
    display: flex;
    button,
    input {
        width: 100px;
        margin-right: 10px;
        height: 30px;
        border-radius: 7px;
        margin-left: 10px;
    }
    input {
        background-color: #2b90d9;
        color: #ffffff;
    }
}
.add-track-btn {
    cursor: pointer;
}
button {
    cursor: pointer;
}
