@media screen and (max-width: 767px) {
}

.login-wrapper,
.join-container {
    position: fixed;
    visibility: hidden;
    filter: blur(1vw);
    transition: all 0.5s;
    opacity: 0;
    left: 60%;
    top: 0;
    width: 30%;
    height: 80vh;
    background-color: #fff;
    box-shadow: -1vw 0 1vw rgba(63, 61, 61, 0.5);
    padding: 10vh 5vw 10vh 5vw;
    z-index: 2;
}

.fa-x {
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    right: 10%;
}

.login-title,
.join-title {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    width: fit-content;
    margin-top: 10%;
    margin-bottom: 7vh;
}

input {
    width: 90%;
    border-radius: 1vh;
    display: inline-block;
    height: 90%;
}

.form-input-wrapper {
    width: 100%;
    margin: 10px auto 20px;
    display: flex;
    margin-top: 0.5vh;
    margin-bottom: 4vh;
    height: 4.5vh;
    border: 1px solid #000;
    border-radius: 1vh;
    font-size: 1vw;
    align-items: center;
}

.fa-eye {
    color: #b8b8b8;
    cursor: pointer;
}

.login-btn,
.register-btn {
    width: 30vw;
    height: 5vh;
    background-color: #2b90d9;
    border-radius: 1vh;
    color: #fff;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 2vh;
}

.login-btn > button:disabled,
.register-btn > button:disabled {
    background-color: #b8b8b8;
    cursor: default;
}

.form-txt-wrapper {
    display: flex;
    width: 30vw;
    justify-content: space-between;
}

.form-txt {
    font-size: 0.8em;
}

.link-to-login,
.link-to-join {
    cursor: pointer;
    transition: all 0.5s;
}

.link-to-login:hover,
.link-to-join:hover {
    color: #2b90d9;
    text-decoration: underline;
}

.fa-check {
    margin-left: 1vw;
    background-color: #b8b8b8;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
    color: #fff;
}

.input-check-wrapper {
    display: flex;
    align-items: center;
    height: fit-content;
}
