.name-wrapper {
    position: relative;
    left: 10vw;
    top: 5vh;
    width: 50vw;
    color: #fff;
    user-select: none;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.25);
}

.content-container {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 60vh;
    top: 40vh;
    box-sizing: border-box;
    padding: 15vh 10vh 0 10vh;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
}

.profile-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 20vh;
    left: 10vw;
    width: 80vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;
}

.image-container {
    display: flex;
    min-width: 196px;
    min-height: 196px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 98px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.image-container > img {
    width: 196px;
    pointer-events: none;
}

.department-container {
    flex-direction: column;
    margin-left: 5vw;
}

.track-select-container {
    position: relative;
    font-weight: 700;
    font-size: 2.5vw;
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(0, 0, 0, 0.125);
    margin-bottom: 5vh;
    border: none;
}

.track-select-container::-ms-expand {
    display: none;
}

.attendance-wrapper {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rental-wrapper {
    font-weight: 700;
    font-size: 1.5em;
}

.calendar-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: 2.5vh auto;
    justify-content: space-around;
    align-items: center;
}

.calendar {
    transition: 0.5s;
    height: 8vw;
    width: 8vw;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 10px 20px;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
    background: linear-gradient(#84b5ff 30%, #fff 30% 100%);
}

.calendar:hover {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}

.calendar-head {
    display: flex;
}

.calendar-head .day {
    margin-left: auto;
}

.contour {
    width: 90vw;
    height: 3px;
    background-color: lightgray;
    margin: 2.5vh 0;
    border-radius: 2.5px;
}

.rental-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2.5vh auto;
}

.rental {
    display: flex;
    flex-direction: row;
    width: 16vw;
    height: 4vw;
    background-color: #fff;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 0.5vh 1.2vw;
    margin-right: 1vw;
    box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    align-items: center;
    transition: all 0.5s;
}

.rental:hover {
    background-color: #ddffef;
}

.rental-icon {
    display: flex;
    height: 3.2vw;
    width: 3.2vw;
    box-shadow: inset 0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    border-radius: 1.6vw;
    margin-right: 1.8vw;
    background-color: #d9e1e8;
    justify-content: center;
    align-items: center;
}

.place-icon {
    width: 44px;
}

#attend-ratio {
    width: 100%;
    height: 5vh;
    margin: 2.5vh 0;
    background: linear-gradient(90deg, #84b5ff 30%, #dedede 30% 100%);
}
.manager-main-btn-wrapper {
    display: block;
    width: fit-content;
    float: right;
    margin-bottom: ivh;
}
