.name-wrapper {
    position: relative;
    left: 10vw;
    top: 5vh;
    width: 50vw;
    color: #fff;
    user-select: none;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.25);
}
.flex {
    display: flex;
}

.content-container {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 60vh;
    top: 40vh;
    box-sizing: border-box;
    padding: 15vh 10vh 0 10vh;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
}

.main-content-container {
    display: flex;
}

.profile-container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    margin-right: 2.5vw;
    border-radius: 5vh;
    padding: 0px 15px 0px 15px;
}

.image-container {
    display: flex;
    min-width: 20vmin;
    min-height: 20vmin;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container > img {
    width: 24vmin;
    height: 24vmin;
    pointer-events: none;
}

.circle {
    margin-top: 0px;
    backdrop-filter: blur(80px);
    height: 230px;
    width: 230px;
    border-radius: 230px;
    .circle-svg {
        width: 24vmin;
    }
}

.track-select-container {
    font-weight: 700;
    font-size: 1em;
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(0, 0, 0, 0.125);
    border: none;
    width: fit-content;
    margin: 2.5vmin auto;
}

.track-select-container::-ms-expand {
    display: none;
}

.user-content-container {
    flex-grow: 1;
}

.attendance-wrapper {
    font-weight: 700;
    font-size: 1.5em;
}

.rental-wrapper {
    font-weight: 700;
    font-size: 1.5em;
}

.news-wrapper {
    font-weight: 700;
    font-size: 1.5em;
}

.calendar-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2.5vh auto;
    justify-content: space-around;
    align-items: center;
}

.calendar {
    transition: 0.5s;
    width: 12vmin;
    height: 15vmin;
    border-radius: 1vmin;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#84b5ff 25%, #fff 25% 100%);
}

.calendar:hover {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}

.calendar-head {
    display: flex;
    justify-content: center;
}

.calendar-head .day {
    font-size: 65%;
}

.contour {
    width: 55vw;
    height: 3px;
    background-color: lightgray;
    margin: 4vh 0;
    border-radius: 1.5px;
}

.rental-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2.5vh auto;
}

.rental {
    display: flex;
    flex-direction: row;
    width: 30vmin;
    height: 8vmin;
    background-color: #fff;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 0.5vh 1.2vw;
    margin-right: 1vw;
    box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    align-items: center;
    transition: all 0.5s;
}

.rental:hover {
    background-color: #ddffef;
}

.rental-icon {
    display: flex;
    height: 3.2vw;
    width: 3.2vw;
    box-shadow: inset 0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    border-radius: 1.6vw;
    margin-right: 1.8vw;
    background-color: #d9e1e8;
    justify-content: center;
    align-items: center;
}

.place-icon {
    width: 2vmin;
}

.main-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vmin;
    margin: auto;
}
.main-button {
    position: relative;
    margin: auto;
    border: none;
    box-shadow: none;
    left: -2vmin;
    top: -2vmin;
    width: 20vmin;
    height: 10vmin;
    line-height: 5vmin;
    -moz-perspective: 70vmin;
    -webkit-perspective: 70vmin;
    perspective: 70vmin;
}
.main-button > div {
    background: #84b5ff;
    background: linear-gradient(0deg, #84b5ff 0%, $blue-color 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 24vmin;
    height: 14vmin;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.main-button-front {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -7vmin;
    -moz-transform-origin: 50% 50% -7vmin;
    transform-origin: 50% 50% -7vmin;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}
.main-button-back {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -7vmin;
    -moz-transform-origin: 50% 50% -7vmin;
    transform-origin: 50% 50% -7vmin;
    visibility: hidden;
}
.main-button.input-available > .main-button-front {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.main-button.input-available > .main-button-back {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
    z-index: 10;
}

.main-button input {
    height: 30px;
    margin: auto;
}
.main-button .main-button-btn-wrapper {
    display: flex;
    margin: 10px auto;
    width: 80%;
    justify-content: space-around;
}
.main-button .main-button-btn {
    background-color: transparent;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #fff;
    color: #fff;
}
#track-invite-code {
    font-size: 50px;
}

#attend-ratio {
    width: 100%;
    height: 5vh;
    margin: 2.5vh 0;
    background: linear-gradient(90deg, #84b5ff 30%, #dedede 30% 100%);
}
.manager-main-btn-wrapper {
    display: block;
    width: fit-content;
    float: right;
    button {
        border: 2px solid #84b5ff;
        background-color: #fff;
        border-radius: 6vw;
        width: 6vw;
    }
    button:hover {
        background-color: #84b5ff;
        color: #fff;
    }
}

.user-track-input {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}
#track-id {
    width: 25px;
    margin-right: 5px;
}

.news-content-wrapper {
    width: 90%;
    margin-top: 20px;
}
.news-content-wrapper:hover {
    background-color: #ddffef;
}
