$main-font: 'Spoqa Han Sans Neo';
$gray-color: #d9e1e8;
$blue-color: #2b90d9;
$skyblud-color: #9baec8;
$indigo-color: #282c37;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

.notice-container {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
}

// .notice-wrapper {
//     background: $gray-color;
//     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
//     margin: 10px 0;
//     border-radius: 15px;
//     width: 100%;
//     height: 50px;
//     display: flex;
//     flex-direction: row;
//     transition: 0.5s;
//     align-items: center;
//     padding: 10px 5em;
//     box-sizing: border-box;
//     cursor: pointer;
//     font-size: 1.5em;
// }
.Anotice-wrapper {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 100%;
    height: 50px;

    transition: 0.5s;
    align-items: center;
    padding: 10px 5em;
    box-sizing: border-box;
    cursor: pointer;
}
// .notice-title,
// .notice-id,
// .notice-date {
//     font-weight: 500;
//     width: 90%;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
// .notice-id {
//     width: 10%;
//     background-color: blue;
// }
// .notice-watch {
//     display: flex;
//     flex-direction: column;
//     background-color: red;
//     align-items: center;
// }
// .notice-watch-num {
//     background-color: #2b90d9;
//     width: fit-content;
// }
// .show-notice {
//     margin-left: auto;
//     font-size: 2em;
//     color: $indigo-color;
// }
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}
th,
td {
    vertical-align: middle;
}

thead,
.notice-title-wrapper {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 100%;
    height: 45px;
    font-size: 1.2em;
    font-weight: 600;
}
.notice-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-content-wrapper {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 40px auto;
    height: 250px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 15px;
}
.link-to-notice,
.notice-delete-btn,
.notice-edit-btn {
    display: block;
    float: right;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #2b90d9;
    color: white;
    margin-left: 10px;
}

.link-to-notice:hover,
.notice-delete-btn:hover,
.notice-edit-btn:hover {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: #2b90d9 2px solid;
    background-color: white;
    color: #2b90d9;
}
