$main-font: 'Spoqa Han Sans Neo';
$gray-color: #d9e1e8;
$blue-color: #2b90d9;
$skyblud-color: #9baec8;
$indigo-color: #282c37;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

.notice-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    padding: 0 2.5px;
    box-sizing: border-box;
    overflow-y: auto;
}
.notice-wrapper {
    background: $gray-color;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 15px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    align-items: center;
    padding: 10px 5em;
    box-sizing: border-box;
    cursor: pointer;
}
.notice-wrapper:hover {
    background-color: #fff;
}

.notice-title {
    font-size: 2.5em;
    font-weight: 700;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.show-notice {
    margin-left: auto;
    font-size: 2em;
    color: $indigo-color;
}
