.schedule-header {
    display: block;
    margin-top: 5vh;
    justify-content: center;
}

.schedule-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 24vw;
    height: 4vw;
    background-color: #fff;
    border-radius: 1vw;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0.5vh 1.2vw;
    box-shadow: 0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    align-items: center;
}

.rental-icon {
    display: flex;
    height: 3.2vw;
    width: 3.2vw;
    box-shadow: inset 0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    border-radius: 1.6vw;
    background-color: #d9e1e8;
    justify-content: center;
    align-items: center;
}

.place-icon {
    width: 44px;
}

.rental-left {
    display: flex;
    margin-left: auto;
    height: 3.2vw;
    width: 3.2vw;
    box-shadow: inset 0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    border-radius: 1.6vw;
    font-weight: 700;
    font-size: 28px;
    background-color: #d9e1e8;
    justify-content: center;
    align-items: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30vh;
    margin: 2.5vh auto;
    box-sizing: border-box;
    padding: 1.25vw 2.5vh;
    border-radius: 2.5vw;
    justify-content: space-between;
    background-color: #d9e1e8;
    user-select: none;
}

.time-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.time-hour {
    font-weight: 700;
    font-size: 24px;
    color: #282c37;
    text-shadow: 0.5px 0.4px 1px rgba(0, 0, 0, 0.5);
}

.time-box {
    display: flex;
    background-color: #fff;
    width: 80px;
    height: 36px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    box-shadow: inset 0 -2.5px 1px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    cursor: pointer;
}

.time-box:hover {
    background-color: #ddffef;
}

.rental-confirm {
    display: flex;
    width: 280px;
    height: 80px;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #fff;
    box-shadow: inset 0 -5px 2.5px rgba(0, 0, 0, 0.5),
        0 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    margin: 1.25vh auto;
}
