$main-font: 'Spoqa Han Sans Neo';
$gray-color: #d9e1e8;
$blue-color: #2b90d9;
$skyblud-color: #9baec8;
$indigo-color: #282c37;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

body {
    background-color: $skyblud-color;
}
.page-title {
    color: white;
    font-family: $main-font;
}
.rental-show-container {
    display: flex;
    flex-direction: row;
}
.places-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60vh;
    align-items: center;
    padding: 0 1%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0.2vh 0 0 0.2vh;
        background-color: $blue-color;
    }
}

.place-wrapper {
    background: $gray-color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    min-width: 200px;
    height: 40vh;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.place-wrapper:hover {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}
.place-image {
    display: block;
    width: 110px;
    margin: 25% auto 20px;
    font-size: 80px;
    user-select: none;
}

.place-name {
    font-weight: 600;
    font-size: 25px;
    width: fit-content;
    margin: 20px auto;
    display: block;
}

.scroll-left {
    display: flex;
    min-width: 70px;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 5px 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 20px 0 0 20px;
    cursor: pointer;
}

.scroll-right {
    display: flex;
    min-width: 70px;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
