$main-font: 'Spoqa Han Sans Neo';
$gray-color: #d9e1e8;
$blue-color: #2b90d9;
$skyblud-color: #9baec8;
$indigo-color: #282c37;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

body {
    background-color: $skyblud-color;
}

.place-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 60vh;
    align-items: center;
    overflow-x: auto;
}

.place-wrapper {
    background: $gray-color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    min-width: 200px;
    height: 40vh;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.place-wrapper:hover {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}
.place-image {
    display: block;
    width: 110px;
    margin: 25% auto 20px;
    font-size: 80px;
}

.place-name {
    font-weight: 600;
    font-size: 25px;
    width: fit-content;
    margin: 20px auto;
    display: block;
}
