#check-timer {
    position: absolute;
    width: 196px;
    height: 196px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 98px;
}

.base-timer {
    position: relative;
    cursor: pointer;
    width: 196px;
    height: 196px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: rgba(0, 0, 0, 0.25);
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #d8d8d8;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    display: flex;
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    justify-content: center;
    font-size: 48px;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.8);
    user-select: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: #f7958e;
    cursor: pointer;
}
button[data-setter]:hover {
    opacity: 0.5;
}
.timer-container {
    position: relative;
    top: 30px;
    width: 300px;
    margin: 0 auto;
}
.setters {
    position: absolute;
    left: 85px;
    top: 75px;
}
.minutes-set {
    float: left;
    margin-right: 28px;
}
.seconds-set {
    float: right;
}
.controlls {
    position: absolute;
    left: 75px;
    top: 105px;
    text-align: center;
}
.display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #f7958e;
}
#pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}
.play::before {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #f7958e;
}
.pause::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #f7958e;
    border-top: none;
    border-bottom: none;
}
#pause:hover {
    opacity: 0.8;
}
.e-c-base {
    fill: none;
    stroke: #b6b6b6;
    stroke-width: 4px;
}
.e-c-progress {
    fill: none;
    stroke: #f7958e;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #fff;
    stroke: #f7958e;
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}
