#check-timer {
    position: absolute;
    height: 200px;
    border-radius: 98px;
    transition: 1s;
}

.pink {
    stroke: #f7958e;
    color: #f7958e;
}

.orange {
    stroke: orange;
    color: orange;
}

.red {
    stroke: red;
    color: red;
}

.controlls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 45px;
    text-shadow: 0 5px 5px;
}

#pause {
    border: 5px solid;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: #fff;
    margin: 10px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.e-c-base {
    fill: none;
    stroke: #b6b6b6;
    stroke-width: 4px;
}

.e-c-progress {
    fill: none;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
    fill: #fff;
    stroke-width: 2px;
}

#e-pointer {
    transition: transform 0.7s;
}
