$main-font: 'Spoqa Han Sans Neo';
$gray-color: #d9e1e8;
$blue-color: #2b90d9;
$skyblud-color: #9baec8;
$indigo-color: #282c37;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

.track-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    align-items: center;
    overflow-y: auto;
    justify-content: space-around;
}
.track-wrapper {
    background: $blue-color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.track-wrapper:hover {
    transform: scale(105%);
}
.track-image {
    width: 100px;
}
.track-name {
    font-weight: 600;
    font-size: 20px;
    margin: 20px auto;
    display: block;
    width: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-add {
    background-color: $gray-color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #000;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.track-add i {
    font-size: 80px;
    margin: 10px auto;
}
.track-rotate {
    width: 300px;
    cursor: default;
    transform: rotateY(180deg);
}
.track-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.track-back {
    transform: rotateY(180deg);
    display: none;
}
.track-body {
    font-weight: 600;
    font-size: 20px;
}
#track-code {
    display: flex;
}
.track-index-input {
    width: 40px;
    height: 40px;
    margin: 10px auto;
}
.track-input {
    width: 200px;
    height: 40px;
    margin: 10px auto;
}
.track-back-button {
    display: flex;
    width: 100%;
    justify-content: center;
}
.track-button {
    width: 100px;
    height: 36px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: $blue-color;
    color: #fff;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5);
}
.track-button:disabled {
    background-color: $gray-color;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
    cursor: default;
}

.track-rotate .track-front {
    display: none;
}
.track-rotate .track-back {
    display: flex;
    flex-direction: column;
}
